fastapi
uvicorn

pydantic
pydantic-settings
sqlalchemy
psycopg[binary]
pgvector

langchain
langchain-community
langchain-google-genai
langchain-postgres
langchain-text-splitters
langgraph  

pypdf
python-multipart